<h1><%= @article.title %></h1>

<p><%= @article.body %></p>

<ul>
  <!-- 编辑 -->
  <li><%= link_to "Edit", edit_article_path(@article) %></li>
  <!-- 删除 -->
  <li><%= link_to "Destroy", article_path(@article), data: {
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"
  } %></li>
</ul>

<!-- 显示这篇文章所有的评论 -->
<h2>Comments</h2>
<% @article.comments.each do |comment| %>
  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>
<% end %>

<!-- 在文章详情页，添加一个增加评论的表单。这里的 form_with 调用使用了一个数组，它将构建一个嵌套路由，例如 /articles/1/comments  -->
<h2>Add a comment:</h2>  
<%= form_with model: [ @article, @article.comments.build ] do |form| %>
  <p>
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

